
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TT Fors', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'TT Fors';
  src: url('./fonts/TT_Fors_Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'TT Fors';
  src: url('./fonts/TT_Fors_DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'TT Fors';
  src: url('./fonts/TT_Fors_Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

#root {
  min-height: 100vh;
}
