.modal-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.modal-container {
  z-index: 5;
  position: relative;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 10%);
  background-color: var(--White, #FFF);
  padding: 20px;
}

.modal-header {
  display: flex;
  width: 100%;
  align-items: start;
  gap: 16px;
  justify-content: start;
  flex-wrap: wrap;
}

.modal-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: var(--Text, #2A2930);
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.close-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='32' viewBox='0 0 20 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 11L5 21M5 11L15 21' stroke='%235A5F67' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 20px;
  height: 32px;
  flex-shrink: 0;
  cursor: pointer;
}

.modal-description {
  color: #5a5f67;
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.accent-text {
  font-weight: 600;
  color: rgba(168,154,127,1);
}

.categories-row {
  display: flex;
  margin-top: 20px;
  width: 100%;
  align-items: stretch;
  gap: 20px;
  overflow: hidden;
  justify-content: start;
  flex: 1;
  flex-wrap: wrap;
  height: 100%;
}

.categories-row_myauthors .category-column:not(:first-child) .category-title {
  visibility: hidden;
}

.category-column {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
  justify-content: start;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.expand-instruction-button {
  display: none;
}

.category-title {
  color: var(--Text, #2A2930);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  align-self: start;
  min-height: 32px;
  width: 100%;
}

.author-cards {
  overflow-y: scroll;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  flex: 1;
}

.author-cards-limited {
  max-width: 373px;
}

.author-card {
  border: 2px solid transparent;
  justify-content: center;
  align-items: stretch;
  display: flex;
  min-height: 140px;
  max-width: 373px;
  gap: 8px;
  background-color: var(--Grey-Bg, #F3F4F6);
  padding: 20px;
}

.categories-row.categories-row_myauthors .author-card,
.author-card:hover {
  border: 2px solid var(--Accent, #A89A7F);
}

.author-card + .author-card {
  margin-top: 20px;
}

.author-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
  width: 100px;
  flex-shrink: 0;
  margin: auto 0;
}

.author-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.author-name {
  color: var(--Text, #2A2930);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.author-works {
  color: var(--Subtext, #5A5F67);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.author-works-multiline {
  line-height: 20px;
}

.author-works-ellipsis {
  text-overflow: ellipsis;
  line-height: 20px;
}

.author-card-placeholder {
  display: flex;
  min-height: 140px;
  margin-top: 20px;
  max-width: 100%;
  width: 373px;
  gap: 8px;
  background-color: var(--Grey-Bg, #F3F4F6);
}

.modal-buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  justify-content: start;
  flex-wrap: wrap;
}

.counter-authors {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: var(--Text, #2A2930);
}

.button-save {
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  opacity: 0.25;
  align-self: stretch;
  display: flex;
  min-height: 48px;
  gap: 8px;
  color: var(--White, #FFF);
  background-color: var(--Accent, #A89A7F);
  margin: auto 0;
  padding: 12px 24px;
  /* cursor: not-allowed; */
}

.button-save:hover {
  opacity: 1;
}

.button-close {
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  align-self: stretch;
  display: flex;
  min-height: 48px;
  gap: 8px;
  color: var(--Text, #2A2930);
  background-color: var(--Light-Grey, #E9E9E9);
  margin: auto 0;
  padding: 12px 24px;
  cursor: pointer;
}

.button-add-author {
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  align-self: stretch;
  display: flex;
  min-height: 48px;
  max-width: 264px;
  gap: 8px;
  color: var(--White, #FFF);
  background-color: var(--Accent, #A89A7F);
  margin: 20px 0 0;
  padding: 12px 24px;
  cursor: pointer;
}

.button-add-author .button-text {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4V16M4 10H16' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  align-self: stretch;
  margin: auto 0;
  padding-left: 30px;
}

.button-add-author:hover {
  opacity: 0.9;
}

.button-text {
  align-self: stretch;
  margin: auto 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
}

.tab-group {
  display: none;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  font-size: 14px;
  color: var(--Text);
  font-weight: 600;
  white-space: nowrap;
  line-height: 20px;
  justify-content: center;
}

.tabs-container {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  width: 100%;
  align-items: center;
  overflow: hidden;
  justify-content: start;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin: auto 0;
}

.tab {
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--Light-Grey);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding: 8px;
}

.tab-active {
  border-bottom: 2px solid var(--Accent);
  color: var(--Accent);
}

.tab-active .tab-label {
  color: var(--Accent);
}

.tab-label {
  color: var(--Text);
  font-feature-settings: 'liga' off, 'clig' off;
}

@media (max-width: 991px) {
  .modal-header {
    max-width: 100%;
  }
  
  .modal-title {
    font-size: 20px;
    line-height: 32px;
    max-width: 100%;
  }
  
  .modal-description {
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
  }
  
  .description-text {
    max-width: 100%;
  }
  
  .categories-row {
    max-width: 100%;
  }

  .category-title {
    font-size: 18px;
    line-height: 24px;
  }

  .author-name {
    font-size: 16px;
    line-height: 24px;
  }

  .author-works {
    font-size: 12px;
    line-height: 16px;
  }

  .author-card {
    padding: 12px;
    min-height: 128px;
  }

  .author-image {
    width: 60px;
    height: 60px;
}
  
  .modal-buttons {
    max-width: 100%;
    white-space: initial;
  }
  
  .button-save {
    white-space: initial;
    padding: 0 20px;
  }
  
  .button-close {
    white-space: initial;
    padding: 0 20px;
  }

  .button-add-author {
    white-space: initial;
    padding: 0 20px;
    min-height: 36px;
  }

  .button-add-author .button-text {
    font-size: 14px;
    line-height: 20px;
  }

  .counter-authors {
    font-size: 18px;
    line-height: 24px;
  }

  .author-cards-limited {
    align-self: center;
  }
}

@media (max-width: 430px) {

  .category-column:not(:first-child) {
    display: none;
  }

  .modal-header {
    justify-content: space-between;
  }

  .modal-title {
    flex: 0;
    flex-shrink: 1;
    flex-basis: 70%;
  }

  .category-title {
    display: none;
  }

  .modal-description {
    font-size: 14px;
    line-height: 20px;
  }

  .expand-instruction-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--Accent);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    align-self: flex-start;
    margin-top: 16px;
  }

  .tab-scroll-button {
    width: 20px;
    height: 20px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .tab-group {
    display: flex;
  }

  .categories-row {
    margin-top: 0;
  }

  .author-card {
    padding: 12px;
    min-height: 84px;
  }

  .author-card + .author-card {
    margin-top: 12px;
  }

  .counter-authors {
    order: 1;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .buttons-wrapper {
    order: 2;
    gap: 12px;
    width: 100%;
  }

  .button-save,
  .button-close {
    width: 100%;
  }

  .button-add-author {
    max-width: 100%;
  }

  

}


