:root {
  --White: #FFF;
  --Text: #2A2930;
  --Subtext: #5A5F67;
  --Accent: #A89A7F;
  --Grey-Bg: #F3F4F6;
  --Light-Grey: #E9E9E9;
  --Darker-Grey: #C0C0C0;
  --White-Black-Black: #3D4247;
}

.app {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'TT Fors';
  src: url('./fonts/TT_Fors_Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'TT Fors';
  src: url('./fonts/TT_Fors_DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'TT Fors';
  src: url('./fonts/TT_Fors_Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: TT Fors, sans-serif;
}


