* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'TT Fors';
  src: url('./fonts/TT_Fors_Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'TT Fors';
  src: url('./fonts/TT_Fors_DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'TT Fors';
  src: url('./fonts/TT_Fors_Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'TT Fors', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

.app_profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}

@media (max-width: 991px) {
  .app_profile {
    padding: 10px;
  }
}
