.favorite-container {
    padding: 40px 40px;
    max-width: 1240px;
    box-sizing: content-box;
}

.favorite-content {
    display: flex;
}

.filter-content-hide {
  display: inline-flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: #FFF;
  background-image: url("data:image/svg+xml,%3Csvg width='140' height='140' viewBox='0 0 140 140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_8985_37476)'%3E%3Crect width='60' height='60' transform='translate(40 40)' fill='white'/%3E%3Cpath d='M63 65.625H77M63 69.9937H71.75M63 74.375H66.5' stroke='%235A5F67' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_8985_37476' x='0' y='0' width='140' height='140' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='20'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_8985_37476'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_8985_37476' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.10);
  margin-right: 40px;
  width: 60px;
  height: 60px;
}

@media (max-width: 901px) {

    .filter-content-hide {
        display: none;
    }
}

@media (max-width: 681px) {

    .favorite-container {
        padding: 40px 16px;
    }
}