.hint-wrapper {
  position: absolute;
  width: 300px;
  padding-bottom: 12px;
  top: -172px;
  left: 102px;
}

.hint-arrow {
  position: relative;
  z-index: 0;
  display: flex;
  height: 6px;
  width: 12px;
  align-items: start;
  overflow: hidden;
  justify-content: center;
  left: 50%;
  bottom: 0px;
}

.hint-beak {
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.24265 4.58579C5.0237 5.36684 6.29003 5.36684 7.07107 4.58579L11.3137 0.343146L5.65686 -5.31371L6.19888e-06 0.343146L4.24265 4.58579Z' fill='%23E9E9E9'/%3E%3C/svg%3E");
  display: flex;
  height: 6px;
  width: 12px;
}

.hint-body {
  border-radius: 4px;
  width: 100%;
  background-color: var(--Light-Grey, #E9E9E9);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.10);
  padding: 8px;
}

.hint-text {
  color: var(--Subtext, #5A5F67);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
