.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.popup {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.10);
  max-width: 500px;
  width: 100%;
  background-color: var(--White, #FFF);
  padding: 20px;
  border-radius: 4px;
}

.popup .popup-header {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 16px;
  color: #000;
  letter-spacing: -0.1px;
  justify-content: flex-start;
}

.popup .popup-title {
  flex: 1;
  font-size: 24px;
  font-weight: 600;
}

.popup .popup-close-icon {
  cursor: pointer;
}

.popup .popup-description {
  color: var(--Subtext, #5A5F67);
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.popup .popup-option {
  display: flex;
  margin-top: 20px;
  width: 100%;
  align-items: flex-start;
  gap: 12px;
  justify-content: flex-start;
}

.popup .popup-radio-wrapper {
  width: 24px;
}

.popup .popup-radio {
  border-radius: 100px;
  border: 2px solid var(--Darker-Grey, #C0C0C0);
  display: flex;
  width: 24px;
  flex-shrink: 0;
  height: 24px;
  background-color: var(--White, #FFF);
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.popup .popup-radio-selected {
  border: 2px solid var(--Accent, #A89A7F);
  background-color: var(--Accent, #A89A7F);
  padding: 2px;
}

.popup .popup-radio-inner {
  aspect-ratio: 1/1;
  border-radius: 100px;
  display: flex;
  width: 8px;
  flex-shrink: 0;
  height: 8px;
  background-color: var(--White, #FFF);
}

.popup .popup-option-text {
  color: var(--Text, #2A2930);
  flex: 1;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.popup .popup-buttons {
  display: flex;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  gap: 16px;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
}

.popup .popup-button-unsubscribe {
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  align-self: stretch;
  display: flex;
  min-height: 48px;
  gap: 8px;
  color: var(--White, #FFF);
  flex: 1;
  background-color: var(--Error, #F44336);
  margin: auto 0;
  padding: 12px 24px;
  cursor: pointer;
}

.popup .popup-button-unsubscribe .popup-button-text {
  color: var(--White, #FFF);
  align-self: stretch;
  margin: auto 0;
}

.popup .popup-button-close {
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  align-self: stretch;
  display: flex;
  min-height: 48px;
  gap: 8px;
  color: var(--Text, #2A2930);
  white-space: nowrap;
  flex: 1;
  background-color: var(--Light-Grey, #E9E9E9);
  margin: auto 0;
  padding: 12px 24px;
  cursor: pointer;
}

.popup .popup-button-close .popup-button-text {
  color: var(--Text, #2A2930);
  align-self: stretch;
  margin: auto 0;
}

@media (max-width: 991px) {
  .popup .popup-header {
    max-width: 100%;
  }

  .popup .popup-title {
    max-width: 100%;
  }

  .popup .popup-description {
    max-width: 100%;
  }

  .popup .popup-option {
    max-width: 100%;
  }

  .popup .popup-option-text {
    max-width: 100%;
  }

  .popup .popup-buttons {
    max-width: 100%;
  }

  .popup .popup-button-unsubscribe {
    padding: 0 20px;
  }

  .popup .popup-button-close {
    white-space: initial;
    padding: 0 20px;
  }
}

@media (max-width: 681px) {
  .popup .popup-title {
    font-size: 20px;
    line-height: 32px;
  }

   .popup .popup-description {
    font-size: 14px;
    line-height: 20px;
  }

  .popup .popup-option-text {
    font-size: 16px;
    line-height: 24px;
  }

  .popup .popup-option {
    margin-top: 12px;
  }

  .popup .popup-buttons {
    flex-direction: column;
  }

}
